CREATE TABLE #if (${table.catalog})${table.catalog}.#end#if (${table.schema})${table.schema}.#end${table.name}
(
#foreach ($column in $table.columns)
$column.name ${column.jdbcType} #if(${column.length} !=-1)(${column.length})#end #if(${column.precision} !=-1)(${column.precision}, ${column.scale})#end,
#end
)