SELECT $su.expand($columns) FROM  #if(!$su.isNullOrEmpty($catalog))${catalog}.#end#if(!$su.isNullOrEmpty($schema))${schema}.#end$table#if(!$su.isNullOrEmpty($whereItems)) WHERE $su.expand($whereItems)#end#if(!$su.isNullOrEmpty($groupByItems)) GROUP BY $su.expand($groupByItems)#end#if(!$su.isNullOrEmpty($orderByItems)) ORDER BY $su.expand($orderByItems)#end #if($limit) LIMIT $limit #end#if($offset) OFFSET $offset#end