UPDATE #if (${catalog})${catalog}.#end#if (${schema})${schema}.#end${table} SET ( ${su.expand($columns)} ) = ( ${su.expandReplace($columns, "?")} ) #if(!$su.isNullOrEmpty($whereItems)) WHERE $su.expand($whereItems)#end